/**
 * Variables
 */

 /** ---- fonts ----**/
$body-text-size : 12px;
$heading-font-family : serif;
$body-font-family : sans-serif;

/** ---- colors ----**/
$grey : #999;
$dark-grey : #333;
$medium-grey : #444;
$white : rgb(210, 210, 210);
$cfmred: #444;

/** ---- animation ----**/
$transition-speed : .4s;
$page-transition-speed : 1s;

/** ---- window sizes ----**/
$tablet-small : 480px;
$tablet-large : 760px;
$desktop : 1200px;
$desktop-large : 1600px;