/**
 * About Page Styles
 */

 div#about-page{
 	padding:0;

  .page-header{
    .page-header-inner{
      .page-header-description{
        // @media( min-width:$desktop){
        //     @include prefix("column-count", 2);
        //     @include prefix("column-gap", 40px);
        // }

        // p{
        //   @include prefix("column-break-inside", "avoid");
        //   margin:0 0 10px 0;
        // }
      }
    }
  }

 	div.section-header{
 		background-color:rgba(240,240,240,1);

 		h2{
 			color:#555;
	 	}
 	}

 	div.services{
		padding:0 0 80px 0;

		div.services-section{
			-webkit-column-break-inside: avoid;
	 		page-break-inside: avoid;
	       	break-inside: avoid;
       		vertical-align: top;
       		padding:20px 20px 20px 20px;

       		@media(min-width:$tablet-small){
       		   padding:20px 40px 20px 40px;
       		}
       		
       		@media(min-width:$tablet-large){
       		   padding:40px 80px 40px 80px;
       		}

       		h2{
       			font-family: "gotham-light";
       			padding:20px 0;
       			font-size: 26px;
       		}

       		&:nth-child(even){
       			border-top:1px solid #eee;
       			border-bottom:1px solid #eee;

       			h2{
		    	}
       		}

	 		ul{
	 			list-style: none;
	 			padding:0; margin:10px 0 20px 0;

		    	

	 			li{
	 				-webkit-column-break-inside: avoid;
	         		page-break-inside: avoid;
	               	break-inside: avoid;	

	 				width:100%;
	 				height: auto;
	 				vertical-align: top;
	 			}
	 		}
	 	}
 	}

 	div.cfm-project-gallery{
 		padding:10px;

 		@media(min-width:$tablet-small){
   			padding:30px;
   		}
   		
   		@media(min-width:$tablet-large){
   			padding:60px;
   		}

 		.project-inner{
 			padding:10px;

 			a{
 				cursor: default;
 			}

 			.project-label{
 				margin:20px 0 40px 0;

 				h2{
 					font-size: 20px;
 				}
 			}
 		}
 	}
 }