/**
 * Contact Detail Page Styles
 */

div#contact-page{
	.cfm-google-map{
		width: 100%;
		
		#map{
			width: 100%;
			padding-bottom: 100%;

			@media(min-width:$tablet-small){ padding-bottom:80% }
			@media(min-width:$desktop){ padding-bottom:60% }
			@media(min-width:$desktop-large){ padding-bottom:50% }
		}
	}
}