/**
 * Home Page Styles
 */

  div#home-page{
  	padding-top:0;

  	.cfm-videoplayer{
		.cfm-videoplayer-poster{
			.cfm-videoplayer-poster-inner{
				@media( min-width:$tablet-small){ 
					padding:40px;
				}

				@media( min-width:$desktop){ 
					padding:60px;
				}
			}

			.cfm-videoplayer-playbutton{
				background:rgba( 255,255,255,.15 );

				.label{
				}

				.arrow{
					border-left-color:#000;
				}

				@media( min-width:$tablet-small){ 
					top:0; left:0;
					margin:0 0 0 0; 
					position: relative;
				}
			}

			.cfm-videoplayer-poster-header{
				width: 90%;

				@media( min-width:$tablet-large){ 
					width: 50%;
				}

				.cfm-videoplayer-poster-header-inner{
					padding:20px 0 0 20px;

					@media( min-width:$tablet-small){ 
						padding:20px 0 0 0;
					}

					h1{
						font-size: 25px;
						color: #555;
						line-height: 24px;
						margin:0 0 4px 0;

						@media( min-width:$tablet-small){ 
							font-size: 38px;
							line-height: 34px;
						}
					}

					h2{
						font-size: 16px;
						line-height: 20px;
						color: #555;
						font-family: "gotham-bold";
						
						margin:0 0 10px 0;

						@media( min-width:$tablet-large){ 
							font-size: 25px;
							line-height: 24px;
						}
					}

					p{
						font-family: "gotham-light";
						display: none;
						font-size: 16px;
						line-height: 20px;
						color: rgba(255,255,255,.8);
						margin:0 0 30px 0;
					}

					@media( min-width:$tablet-small){ 
						p{ display:block }
					}
				}
			}

			&:hover{
				.cfm-videoplayer-playbutton{
					background:rgba(255,255,255,.2);

					.label{
					}

					.arrow{
					}
				}
			}
		}
	}

 	div.cfm-project-gallery{
 		padding:0 0 0 0;
 		margin:2px -1px 0 0;

		ul{
	 		li{
	 			width:100%;

				div.project-inner{
		 			a{
		 				box-sizing:border-box;
		 				background-color:#111;
		 				padding-bottom: 20%;
		 				border-right:2px solid #EEE;
 						border-bottom:2px solid #FFF;

		 				div.project-label{
		 					opacity: 1;
		 					background-color:transparent;

		 					div.project-label-inner{
		 						padding:0;
		 						background-color:transparent;
		 						border:none;

		 						h3{
		 							font-family: "gotham-light";
		 							color:#CCC;
		 							letter-spacing: -.02em;
		 							font-size:14px;

		 							@media( min-width:$tablet-large){ 
										font-size:12px;
		 							}

		 							@media( min-width:900px){ 
										font-size:14px;
		 							}

		 							@media( min-width:$desktop){ 
										font-size:16px;
		 							}
		 						}
		 					}
		 				}

		 				&:hover{
		 					div.project-label{
		 						background-color:#fff;

			 					div.project-label-inner{
			 						h3{color:#444;}
			 					}
			 				}
		 				}
	 				}	
	 			}

	 			@media( min-width:$tablet-small){ 
	 				width:33.3334%; 

	 				div.project-inner{
	 					a{
	 						padding-bottom: 64%;
	 					}
	 				}

	 				&:nth-child(-n+2){
	 					width: 50%;

	 					div.project-inner{
				 			a{
				 				padding-bottom: 40%;
			 				}	
			 			}
			 		}
	 			}

	 			@media( min-width:$tablet-large){ 
	 				width:20%; 

	 				div.project-inner{
	 					a{
	 						padding-bottom: 100%;
	 					}
	 				}

 					&:nth-child(-n+2){
	 					width: 20%;

	 					div.project-inner{
				 			a{
				 				padding-bottom: 100%;
			 				}	
			 			}
			 		}
			 	}
	 		}
	 	}
	 }
}