/**
 * Home Page Styles
 */

  div#home-page{
  	padding-top:0;

  	.cfm-videoplayer
	{
		.cfm-videoplayer-poster{
			background-position:right center;

			.cfm-videoplayer-poster-header{
				width: 60%;

				@media( min-width:$tablet-small){ 
					width: 40%;
				}

				.cfm-videoplayer-poster-header-inner{
					padding:40px 0 20px 20px;

					h1{
						// font-size: 30px;
						color: #555;
						line-height: 27px;
						margin:0 0 4px 0;
					}

					h2{
						font-size: 25px;
						line-height: 24px;
						color: #555;
						font-family: "gotham-bold";
						margin:0 0 6px 0;
					}

					p{
						display: none;
						font-size: 14px;
						line-height: 17px;
						color: #FFF;
					}

					@media( min-width:$tablet-small){ 
						padding:60px 0 20px 40px;

						p{ display:block }
					}

					@media( min-width:$desktop){ 
						padding:80px 0 20px 80px;
					}
				}
			}

			.cfm-videoplayer-playbutton{
				margin:0; top:auto; left:20px;
				width: auto; height:auto;
				border-radius:0;

				.playbutton-label{
					padding:4px 14px;

					h4{
						color: #555;
					}
				}

				@media( min-width:$tablet-small){
					left:40px;
				}

				@media( min-width:$desktop){ 
					left:80px;
				}
			}

			&:hover{
				.cfm-videoplayer-playbutton{
					background-color:#333;

					.playbutton-label{
						h4{
							color: #EEE;
						}
					}
				}
			}
		}
	}

 	div.cfm-project-gallery{
 		padding:0 0 0 0;
 		margin:1px -1px 0 0;

		ul{
	 		li{
	 			width:100%;

				div.project-inner{
		 			a{
		 				box-sizing:border-box;
		 				background-color:#111;
		 				padding-bottom: 20%;
		 				border-right:1px solid #EEE;
 						border-bottom:1px solid #FFF;

		 				div.project-label{
		 					opacity: 1;
		 					background-color:transparent;

		 					div.project-label-inner{
		 						background-color:transparent;
		 						border:none;

		 						h3{
		 							font-family: "gotham-book";
		 							color:$white;
		 						}
		 					}
		 				}

		 				&:hover{
		 					div.project-label{
		 						background-color:#fff;

			 					div.project-label-inner{
			 						h3{color:#444;}
			 					}
			 				}
		 				}
	 				}	
	 			}

	 			@media( min-width:$tablet-small){ 
	 				width:33.3334%; 

	 				div.project-inner{
	 					a{
	 						padding-bottom: 64%;
	 					}
	 				}

	 				&:nth-child(-n+2){
	 					width: 50%;

	 					div.project-inner{
				 			a{
				 				padding-bottom: 40%;
			 				}	
			 			}
			 		}
	 			}

	 			@media( min-width:$tablet-large){ 
	 				width:20%; 

	 				div.project-inner{
	 					a{
	 						padding-bottom: 100%;
	 					}
	 				}

 					&:nth-child(-n+2){
	 					width: 20%;

	 					div.project-inner{
				 			a{
				 				padding-bottom: 100%;
			 				}	
			 			}
			 		}
			 	}
	 		}
	 	}
	 }
}