/**
 * Project Detail Page Styles
 */

 #project-page{

 	.cfm-videoplayer{
		.cfm-videoplayer-poster{
			background-position:left center;

			.cfm-videoplayer-poster-header{
				margin-left: 50%;
				display: none;

				@media(min-width:$tablet-large){
					display: block;
				}

				.cfm-videoplayer-poster-header-inner{
					padding:80px 80px 20px 0;

					@media(min-width:$tablet-large){
						padding:100px 80px 20px 0;
					}

					@media(min-width:$desktop){
						padding:120px 80px 20px 0;
					}

					h1{
						font-family: "gotham-bold";
					}

					h2{
						margin-top: 4px;
						color: #FFF;
						font-family: "gotham-light";
					}

					p{
						color: #DDD;
					}

					.cfm-videoplayer-playbutton{
						.label{
							color: #DDD;
						}
						.arrow{
							border-left: 40px solid #DDD;
						}
					}
				}
			}

			&:hover{
				.cfm-videoplayer-poster-header{
					.cfm-videoplayer-playbutton{
						.arrow{
							border-left: 40px solid #FFF;
						}
						.label{
							color: #FFF;
						}
					}
				}
			}
		}
	}

	.project-asset-image{
		background-size:cover;
		background-repeat:no-repeat;
		background-position:center center;
		width: 100%;
		padding-bottom:100%;

		@media( min-width:$tablet-small){ padding-bottom:80%; }
		@media( min-width:$tablet-large){ padding-bottom:56.25%; }
		@media( min-width:$desktop){ padding-bottom:56.25%; }
		@media( min-width:$desktop-large){ padding-bottom:56.25%; }
	}

	.project-detail{
		.project-asset{
			display: block;

			.project-asset-inner{
				padding:40px;
			}

			.project-asset-description{
				.project-asset-description-inner{
					padding:0 0 20px 0;

					p{
						font-size: 13px;
						margin-top: 0;
						color: #555;
						line-height: 20px;
					}
				}
			}
		}

		@import '../assets/detail.scss';
		@import '../assets/banner-image.scss';
		@import '../assets/gallery.scss';

		.project-about{
			max-width: 1000px;
			margin:0 auto;

			.project-about-inner{
				padding:40px 14px 40px 20px;

				@media(min-width:$tablet-small){
					padding:40px 30px 40px 40px;
				}

				@media(min-width:1080px){
					padding:40px 0 40px 0;
				}

				@include clearfix();

				.project-logo{
					display: none;

					@media(min-width:$tablet-large){
						display: block;
					}

					width: 25%;
					padding-bottom:25%;
					background-color:#000;
					float: left;
					background-position:center center;
					background-size:cover;
					background-repeat:no-repeat;
				}

				.project-description{
					vertical-align: top;
					float: left;

					.project-description-inner{
						h1{
							margin-top:-3px;
							font-family: "gotham-bold";

							@media(min-width:$tablet-large){
								display: none;
							}

							span{
								color: #333 !important;
								text-transform: uppercase;
							}
						}
					}

					@media(min-width:$tablet-large){
						width: 75%;
						float: left;

						.project-description-inner{
							padding:0 0 0 40px;

							h1{
								margin-top:-3px;
								font-family: "gotham-bold";
							}

							p{
								margin-top:0;
							}
						}
					}
				}

				.project-links-menu{
					.project-links-menu-inner{
						padding:10px 0 0 0;

						ul{
							@include clearfix();

							list-style: none;
							margin:0; padding:0;

							li{
								float: left;
								margin: 0 10px 10px 0;
								border:4px solid #eee;

								@include prefix( "transition", border .25s ease-in-out );

								a{
									display: inline-block;
									padding:6px 14px 4px 14px;
									text-decoration: none;
									background-color:#FFF;

									@include prefix( "transition", background-color .25s ease-in-out );
								}

								&:hover{
									border:4px solid #111;

									a{
										background-color:#111;

										h4{
											color: #EEE;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
