/**
 * Project Detail Page Styles
 */

#project-page{
	.project-module-image{
		background-size:cover;
		background-repeat:no-repeat;
		background-position:center center;
		width: 100%;
		padding-bottom:100%;
		position: relative;

		@media( min-width:$tablet-small){ padding-bottom:60%; }
		@media( min-width:$tablet-large){ padding-bottom:50%; }
	}

	.project-detail{
		.project-heading{
			max-width: 1000px;
			margin:0 auto;
			position: relative;

			.project-heading-inner{
				padding:70px 14px 70px 20px;

				@media(min-width:$tablet-small){
					padding:70px 30px 70px 40px;
				}

				@media(min-width:1080px){
					padding:70px 0 70px 0;
				}
					
				h2{
					font-family: "gotham-book";
					color: $cfmred;
					margin-bottom: 8px;
					font-size: 24px;
					line-height: 30px;
				}

				h1{
					font-family: "gotham-light";
					color: #777;
					font-size: 36px;
					line-height: 44px;
					letter-spacing: -1px;
				}

				.video-anchor-link{
					position: static;
					text-align: left;
					margin:20px 0 0 6px;
					width: auto;

					a{
						display: inline-block;

						span.arrow{
							display: inline-block;
							border-top: 6px solid transparent;
							border-bottom: 6px solid transparent;
							border-left: 8px solid #CCC;
							vertical-align: middle;
							border-right:none;
						}

						span.label{
							vertical-align: middle;
							display: inline-block;
							color:#CCC;
							margin:0 0 0 10px;
						}

						&:hover{
							span.arrow{
								border-left: 8px solid #555;
							}

							span.label{
								color:#555;
							}
						}
					}
				}
			}
			
		}
		.project-module{
			display: block;

			.project-module-description{
				.project-module-description-inner{
					padding:10px 20px 10px 20px;

					@media(min-width:$tablet-small){
						padding:10px 40px 10px 40px;
					}

					@media(min-width:1080px){
						padding:10px 40px 10px 40px;
					}

					h3{
						padding-top:20px;
						font-size: 19px;
						line-height: 36px;
						font-weight: 200;
						color: $cfmred;
					}

					h2{
						margin-left: 1px;
						font-size: 24px;
						line-height: 26px;
						font-family: "gotham-light";
						color: #555;
					}

					p{
						margin-top:10px;
					}
				}
			}
		}

		@import '../project_modules/detail.scss';
		@import '../project_modules/banner-image.scss';
		@import '../project_modules/gallery.scss';

		.project-about{
			max-width: 1000px;
			margin:0 auto;

			.project-about-inner{
				padding:70px 14px 70px 20px;

				@media(min-width:$tablet-small){
					padding:70px 30px 70px 40px;
				}

				@media(min-width:1080px){
					padding:70px 0 70px 0;
				}

				@include clearfix();

				.project-logo{
					display: none;

					@media(min-width:$tablet-large){
						display: block;
					}

					width: 25%;
					padding-bottom:25%;
					background-color:#000;
					float: left;
					background-position:center center;
					background-size:cover;
					background-repeat:no-repeat;
				}

				.project-description{
					vertical-align: top;
					float: left;

					.project-description-inner{
						p{
							margin-top:-8px;
							margin-bottom: 32px;
						}
						p.credits{
							margin-top:40px;
							border-top:1px solid #eee;
							padding-top:40px;

							span.description-label{
								color: $cfmred;
								margin-right: 8px;
							}
						}
					}

					@media(min-width:$tablet-large){
						width: 75%;
						float: left;

						.project-description-inner{
							padding:0 0 0 40px;

							h1{
								margin-top:-3px;
								font-family: "gotham-bold";
							}
						}
					}
				}

				.project-links-menu{
					.project-links-menu-inner{
						padding:10px 0 0 0;

						ul{
							@include clearfix();

							list-style: none;
							margin:0; padding:0;

							li{
								float: left;
								margin: 0 10px 10px 0;
								border:1px solid $cfmred;

								@include prefix( "transition", border .25s ease-in-out );

								a{
									display: inline-block;
									padding:4px 24px 4px 24px;
									text-decoration: none;
									background-color:#FFF;

									h4{
										font-size: 16px;
										font-family: "gotham-book";
										color: $cfmred;
									}

									@include prefix( "transition", background-color .25s ease-in-out );
								}

								&:hover{
									a{
										background-color:$cfmred;

										h4{
											color: #EEE;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

html:not(.mobile){
	#project-page{
	 	.cfm-videoplayer{
			video{
				background:#FFF;
			}

			.cfm-videoplayer-poster{
				.cfm-videoplayer-playbutton{
					padding:0 24px 0 0;
					border:1px solid $cfmred;
					border-radius:0;
					width:auto;
					height: auto;
					background:#FFF;
					top: 20px; left: 20px;
	  				margin:0;

	  				@media(min-width:$tablet-small){
	  					top: 40px; left: 40px;
	  				}

					span.arrow{
						position: static;
						border-top: 10px solid transparent;
						border-bottom: 10px solid transparent;
						border-left: 14px solid $cfmred;
						margin:-1px 0 0 24px;
						display: inline-block;
						vertical-align: middle;
					}
				
					span.label{
						text-transform: uppercase;
						background-color:$cfmred;
						padding:0 20px 0 20px;
						display: inline-block;
						font-size:13px;
						line-height: 50px;
						color: #FFF;
						font-family: "gotham-book";
					}
				}

				&:hover{
					.cfm-videoplayer-playbutton{
						border:1px solid #555;

						span.arrow{
							border-left: 14px solid #555;
						}
					
						span.label{
							background-color:#555;
						}
					}
				}
			}
		}
 	}
}
