.cfm-videoplayer
{
	width:100%;
	position: relative;

	.cfm-videoplayer-inner{
		padding-bottom: 100%;
		background: #000;

		@media( min-width:$tablet-small){ padding-bottom:70%; }
		@media( min-width:$tablet-large){ padding-bottom:56.25%; }
		@media( min-width:$desktop-large){ padding-bottom:42%; }
	}

	video{
		position: absolute;
		top:0; left:0;
		width:100%;
		height: 100%;
	}

	video.cfm-videoplayer-desktop{
		z-index: 0;
	}
	
	.cfm-videoplayer-poster{
		position: absolute;
		top:0; left:0;
		width:100%;
		height:100%;
		background-color:rgba(250,250,250,1);
		background-position:center center;
		background-size:cover;
		background-repeat:no-repeat;
		z-index: 1;
		cursor:pointer;

		.cfm-videoplayer-playbutton{
			background:#fff;
			position: absolute;
			width: 80px; height:80px;
			background:rgba(255,255,255,.6);
			top: 50%; left: 50%;
			border-radius:50%;
			transform:scale(1);
			margin:-40px 0 0 -40px;

			@media( min-width:$tablet-small){
				top:50px; margin:0;
				left:40px;
			}

			@include prefix( "transition", .25s ease-in-out );

			span.arrow{
				width: 0; height: 0; 
				position: absolute;
				border-top: 20px solid transparent;
				border-bottom: 20px solid transparent;
				border-left: 30px solid rgba(0,0,0,.6);
				margin-left: -10px;
				top: 50%; left:50%;
				margin-top: -20px;
			}
		}

		&:hover{
			.cfm-videoplayer-playbutton{
				transform:scale(1.08);

				background:rgba(255,255,255,1);

				span.arrow{
					border-left: 30px solid rgba(0,0,0,1);
				}
			}
		}
	}

	video.cfm-videoplayer-mobile{
		opacity: 0;
		z-index: 2;
	}
}