/* ============================
    CFM Project Gallery Styles
===============================*/

div.cfm-project-gallery{
	padding:0 0 0 0;
	margin:0 0 0 0;

	ul{
 		list-style: none;
 		padding:0; margin:0;
 		
 		@include clearfix();

 		li{
 			float:left;
 			width:100%;

 			div.project-inner{
 				padding:0;
 				margin:0;

	 			a{
	 				cursor: pointer;
	 				display: block;
	 				padding-bottom:100%;
	 				background-color: #EEE;
	 				background-repeat:no-repeat;
	 				background-size:cover;
	 				background-position:center;
	 				position: relative;
	 				height:0;

	 				&:link,&:visited{
	 					color: #999;
	 					text-decoration: none;
	 				}

	 				div.project-label{
	 					position: absolute;
	 					height: 100%; width: 100%;
	 					text-align: center;

	 					&:before{
						 	content: "";
						 	display: inline-block;
						 	height: 100%;
						 	vertical-align: middle;
						 	margin: 0 0 0 0;
	 					}

	 					div.project-label-inner{
	 						border-radius: 4px;
	 						background-color:#FFF;
	 						padding:20px;
		 					display: inline-block;
						  	vertical-align: middle;
		 				}
	 				}
	 			}
 			}
 		}
 	}
 }